<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/public/home/assets/images/logo-1.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Login</title>
  <link rel="stylesheet" href="/public/home/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/public/home/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/home/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/public/home/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/public/home/assets/parallax/jarallax.css">
  <link rel="stylesheet" href="/public/home/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/public/home/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/public/home/assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap"></noscript>
  <link rel="preload" as="style" href="/public/home/assets-update-01/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/public/home/assets-update-01/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
   
  <section data-bs-version="5.1" class="menu menu1 cid-sWhMlwT1IH" once="menu" id="menu1-7">
    

    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="/public/home/assets/images/logo-1.png" alt="Mobirise" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white text-primary display-7" href="/">WH40K.online</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="login">Accedi</a> <a class="btn btn-primary display-4" href="signup">Registrati</a></div>
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="form1 cid-sWhGW9i26b mbr-fullscreen mbr-parallax-background" id="form1-3">

    
    
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(53, 53, 53);"></div>
    <%- include('../../views/partials/messages.ejs') %>
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form method="POST" class="mbr-form form-with-styler" data-form-title="login-form">
                    <div class="dragArea row">
                        <div class="col-12">
                            <h1 class="mbr-section-title mb-4 mbr-fonts-style align-center display-2">
                                <strong>Accedi con il tuo account</strong></h1>
                        </div>
                        <div class="col-12">
                            
                        </div>
                        <div class="col-md col-12 form-group mb-3" data-for="name">
                            <input type="text" name="username" placeholder="Nome utente" data-form-field="Name" class="form-control" id="username" required>
                        </div>
                        <div class="col-md col-12 form-group mb-3" data-for="password">
                            <input type="password" name="password" placeholder="Password" data-form-field="Password" class="form-control" id="password" required>
                        </div>
                        <div class="mbr-section-btn col-12 col-md-auto"><button type="submit" class="btn btn-danger display-4"><span class="mobi-mbri mobi-mbri-play mbr-iconfont mbr-iconfont-btn"></span>Gioca</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="info1 cid-t3syQdsyXX" id="info1-l">
    
    
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h3 class="mbr-section-title mb-4 mbr-fonts-style display-1">
                    <strong>Password dimenticata?</strong></h3>
                
                <div class="mbr-section-btn"><a class="btn btn-white display-4" href="frgtPwd"><span class="mobi-mbri mobi-mbri-key mbr-iconfont mbr-iconfont-btn"></span>Reimposta la password</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer7 cid-sWnCb85bzz" once="footers" id="footer7-h">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2022 wh40k.online - Tutti i diritti sono riservati</p>
            </div>
        </div>
    </div>
  
</body>
</html>